/*
	Modal Gallery
	V1.04
	By @sneak
	https://gitlab.com/sneak/modal-gallery

	@preserve
*/

@modal-bg: fade(black, 95%); // For background overlay
@modal-easing: cubic-bezier(0.190, 1.000, 0.220, 1.000); // For fade in/out
@modal-duration: 0.3s; // Timing for in/out transitions
@modal-colour: white; // Colour for icons/text
@modal-close-icon-bar-length: 28px;
@modal-close-icon-bar-width: 2px;

.modal-gallery {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	background: @modal-bg;
	overflow-y: auto;
	opacity: 0;
	transition: opacity @modal-duration @modal-easing;
	color: @modal-colour;

	.modal-gallery-open & {
		left: 0;
		opacity: 1;
	}

	.carousel-container {
		height: 100%;

		.carousel-item {
			width: 100%;
			height: 100%;
			overflow: hidden;

			&[data-aspect=landscape] {
				.item-content {
					img {
						max-width: 100%;
						height: auto;
						
						&.lazyloaded {
							width: auto;
						}
					}
				}
			}

			&[data-aspect=portrait] {
				.item-content {
					img {
						max-height: 100%;
						width: auto;
						
						&.lazyloaded {
							height: auto;
						}
					}
				}
			}

			&.-withcaption {
				> .item-content {
					> .wrapper {
						flex-direction: column;

						> .image { flex-grow: 1; }
						> .description { flex-grow: 0; }
					}
				}
			}

			> .item-content {
				margin: 0 60px;
				height: 100%;
				overflow: hidden;
				padding: 60px 0;
				box-sizing: border-box;

				@media (max-width: 600px) {
					padding: 20px 0 60px;
					margin: 0 15px;
				}

				> .wrapper {
				    display: flex;
				    position: relative;
				    width: 100%;
				    height: 100%;

					> .image {
						width: 100%;
						position: relative;
						display: flex;
						align-items: center;

						> .aspect {
							position: absolute;
							top: 0;
							left: 0;
							bottom: 0;
							right: 0;
							width: 100%;
							height: 100%;

							.loading {
								content: "";
								display: block;
								height: 10px;
								width: 10px;
								border-radius: 50%;
								position: absolute;
								top: 50%;
								left: 50%;
								z-index: 0;
								pointer-events: none;
								opacity: 1;
								transition: .2s opacity ease 1s;
								animation: spinner .2s infinite linear;

								@-webkit-keyframes spinner {
									0%, 100% {
										background-color: fade(@modal-colour, 100%)
									}
									50% {
										background-color: fade(@modal-colour, 0%)
									}
								}

								@keyframes spinner {
									0%, 100% {
										background-color: fade(@modal-colour, 100%)
									}
									50% {
										background-color: fade(@modal-colour, 0%)
									}
								}
							}
						}

						img {
							display: block;
						    margin: auto;
						    position: absolute;
						    top: 0;
						    left: 0;
						    bottom: 0;
						    right: 0;
							opacity: 0;
							transition: opacity @modal-duration @modal-easing;
							
							
							&.lazyload,
							&.lazyloading {
								opacity: 0;
							}
							
							&.lazyloaded {
								opacity: 1;
								
								+ .loading {
									opacity: 0;
									animation: none;
								}
							}
						}
					}
				}
			}
		}

		.flickity-prev-next-button {
			background: none;
		
			@media (max-width: 600px) {
				top: auto;
				bottom: 5px;
				transform: none;
			}

			svg { display: none; }

			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 3px;
				width: 20px;
				height: 36px;
				background-size: 20px 36px;
				
				@media (max-width: 600px) {
					transform: scale((14 /20));
				}
			}

			&.previous {
				// <svg xmlns="http://www.w3.org/2000/svg" width="20" height="36" viewBox="0 0 20 36">
				// 	<polyline fill="none" stroke="#FFFFFF" stroke-width="2" points="18 2 2 18 18 34" stroke-linecap="round"/>
				// </svg>
				
				@media (max-width: 600px) {
					left: auto;
					right: 70px;
				}
				
				&:after {
					background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2236%22%20viewBox%3D%220%200%2020%2036%22%3E%0A%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20points%3D%2218%202%202%2018%2018%2034%22%20stroke-linecap%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E%0A');
					left: 10px;
				}
			}

			&.next {
				// <svg xmlns="http://www.w3.org/2000/svg" width="20" height="36" viewBox="0 0 20 36">
				// 	<polyline fill="none" stroke="#FFFFFF" stroke-width="2" points="2 2 18 18 2 34" stroke-linecap="round"/>
				// </svg>
				&:after {
					background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2236%22%20viewBox%3D%220%200%2020%2036%22%3E%0A%09%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20points%3D%222%202%2018%2018%202%2034%22%20stroke-linecap%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E');
					right: 10px;
				}
				
				@media (max-width: 600px) { right: 2px; }
			}

			.arrow { fill: @modal-colour; }
		}
	}

	> .close {
		background: none;
		border: none;
		outline: none;
		padding: 0;
		margin: 0;
		position: absolute;
		cursor: pointer;

		@media (min-width: 601px) {
			top: 20px;
			right: 20px;
		}
		
		@media (max-width: 600px) {
			bottom: 14px;
			left: 10px;
		}

		&:active {
			opacity: 0.6;
			box-shadow: none;
		}

		&:focus:not(.focus-ring) {
			outline: none;
		}

		&:focus-ring {
			outline: 5px solid blue;
		}

		> span {
			font: ~"0/0" a;
			color: transparent;
			text-shadow: none;
			background-color: transparent;
			border: 0;
			display: block;
			width: @modal-close-icon-bar-length;
			height: @modal-close-icon-bar-length;

			&:before,
			&:after {
				content: '';
				display: block;
				position: absolute;
				width: @modal-close-icon-bar-length;
				height: @modal-close-icon-bar-width;
				top: 50%;
				left: 50%;
				background: @modal-colour;
			}

			&:before {
				transform: translate3d(-50%, -50%, 0) rotate(45deg);
			}

			&:after {
				transform: translate3d(-50%, -50%, 0) rotate(-45deg);
			}
			
			@media (max-width: 600px) {
				width: 29px;
				height: 29px;
				
				&:before,
				&:after {
					width: 29px;
					height: 1px;
				}
			}
		}
	}

	> .gallery-counts {
		position: absolute;
		font-size: 14px;
		line-height: 20 / 14;
		margin: 0;

		@media (min-width: 601px) {
			top: 20px;
			left: 20px;
		}
		
		@media (max-width: 600px) {
			bottom: 14px;
			left: 60px;
			line-height: 29px;
		}
	}
}

.modal-gallery-open {
	body {
		overflow: hidden;
		display: block;
	}

	.site-header { display: none; }
}
